CharacterAssets(
    name: "survivor",
    animations: {
        "idle": AnimationAtlas(
            file: "idle.png",
            directions: [
                "s",
                "se",
                "e",
                "ne",
                "n",
                "nw",
                "w",
                "sw",
            ],
            frames: 23,
            fps: 12,
            loops: true,
            cell_width: 63,
            cell_height: 160,
            anchor: Anchor(
                x: 31,
                y: 159,
            ),
        ),
        "run": AnimationAtlas(
            file: "run.png",
            directions: [
                "s",
                "se",
                "e",
                "ne",
                "n",
                "nw",
                "w",
                "sw",
            ],
            frames: 10,
            fps: 12,
            loops: true,
            cell_width: 150,
            cell_height: 170,
            anchor: Anchor(
                x: 75,
                y: 156,
            ),
        ),
        "walk_back": AnimationAtlas(
            file: "walk_back.png",
            directions: [
                "s",
                "se",
                "e",
                "ne",
                "n",
                "nw",
                "w",
                "sw",
            ],
            frames: 11,
            fps: 12,
            loops: true,
            cell_width: 114,
            cell_height: 169,
            anchor: Anchor(
                x: 57,
                y: 158,
            ),
        ),
    },
)
